.arrayBars {
    background-color: orange;
    display: inline-block;
    margin: 0 1px;
}

.container {
    position: relative;
    background-color: #001519;
    margin: 65px;
    height: 450px;
}

.arraySize {
    color: #00d4FF;
    position: relative;
    margin: 10px;
    font-size: 18px;
}


.visualisationSpeed {
    color: #00d4FF;
    position: relative;
    margin: 10px 10px;
    font-size: 18px;
}